
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            padding: 50px;
            font: 16px Helvetica, Arial, sans-serif;
            background: #a89d21;
        }
        h2, p{
            text-align: center;
        }
    </style>
</head>
<body>
<p>
    <h1><%= obj %></h1>
</p>
</body>
</html>