<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            padding: 50px;
            font: 16px Helvetica, Arial, sans-serif;
            background: #a89d21;
        }
        h2, p{
            text-align: center;
        }
    </style>
</head>
<body>
<p>
    Hi <span style="color: #001ca8;font-size: 1.5em;"><%= user.name %></span>. Your password is <span style="color: #a80001;font-size: 1.5em;"><%= user.password %></span>
</p>
</body>
</html>